body{
    background-color: bisque;
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(70, 70, 70);
    padding: 17px;

}


section{
    background-color: aquamarine;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

footer{
    background-color: pink;
    padding: 10px;
}



ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin-right: 20px;
}

div {
    background-color: yellowgreen;
    margin: auto;
    width: 10-px;
    
    
}

img{
    margin: auto;
    width: 10-px;
}